body {
    background: #1d1e2e;
    font-family: "Jacques Francois";
    font-size: 14px;
    color: #ffffffb2;
    box-sizing: border-box;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    font-family: "poppins" !important;

    display: flex;
    align-items: center;

    margin-bottom: 30px;
    width: 100%;
    max-width: 1000px;
    max-height: 55px;

    border-radius: 20px;
    padding: 10px 20px;

    background: #d9d9d980;
}

.search input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 30px;
    color: #00000080;
}

::placeholder {
    color: #00000080;
}

.search button img {
    width: 25px;
}

.search button {
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background: transparent;
    cursor: pointer;
}

.search-header {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-left: 219px;
    color: #ffffff99;
}

.search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff99;

    margin-bottom: 300px;
}

.kota-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    color: white;

    margin-bottom: 100px;
}

.kota-wrapper img {
    margin-bottom: 30px;
}

.judul-kota {
    font-family: "Jacques Francois";
    font-size: 60px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 0.1em;
}

.deskripsi-kota {
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    max-width: 946px;
    letter-spacing: 0em;
    text-align: center;
}

.btn-lihat {
    text-decoration: none;
    color: white;

    border: 3px solid #ffffffbf;
    border-radius: 30px;
    padding: 10px 30px;

    margin-bottom: 50px;
}

.btn-lihat:hover {
    text-decoration: none;
    color: #ffffffbf;
}
